- unless smart_listing.empty?
  %list.body    
    %table.table.labs.table-hover.clickable-row
      %thead
        -# Second argument of sortable is sorted attribute name
        %th.col-md-1
        %th.col-md-2= smart_listing.sortable "Title", "title"
        %th.col-md-6= "Brief Description"
        %th.col-md-1= smart_listing.sortable "Open Positions", "lab_capacity"
        %th.col-md-1= "Year"
        
        
      %tbody
        - smart_listing.collection.each do |lab|
          %tr.main{"data-link" => lab_path(lab)}
            %td
              -if lab.category == "Biology"
                %img.category(src="/assets/biology.jpg")
              -if lab.category == "Chemistry"
                %img.category(src="/assets/chemistry.jpg")
              -if lab.category == "Biochemistry"
                %img.category(src="/assets/biochemistry.jpg")
              -if lab.category == "Physics"
                %img.category(src="/assets/physics.jpg")
              -if lab.category == "Psychology"
                %img.category(src="/assets/pyschology.jpg")
              -if lab.category == "Sustainability"
                %img.category(src="/assets/sustainability.jpg")
              -if lab.category == "Earth and Space exploration"
                %img.category(src="/assets/earth_and_space_exploration.jpg")

            %td.title= link_to lab.title, lab, target: "_blank"
            %td= lab.req
            -if lab.lab_capacity == 0
              %td No positions
            -else  
              %td= lab.lab_capacity 
            %td= lab.year
        

      
  = smart_listing.paginate
  //= smart_listing.pagination_per_page_links
- else
  #warning_labs.col-center
    %h3.text-center 
      Please select a category.
    %img.center(src="/assets/rlabs.png")
/ .lablist
/ - unless smart_listing.empty?
  
/   .panel-group#accordion
/     - smart_listing.collection.each do |lab|
/       %tr
/         %td= lab.title
/         %td= lab.email
/   = smart_listing.paginate
/   = smart_listing.pagination_per_page_links
/ - else
/ %p.alert.alert-info No records!