%h1.title Find a Lab

= smart_listing_controls_for(:labs, {class: "form-inline text-left"}) do

	.form-group.filter.input-append
		= text_field_tag :filter, '', class: "search form-control",
		placeholder: "Keywords", autocomplete: :off
	
	

	.btn-group.first{"data-toggle" => "buttons"}
		%label.btn.btn-default.btn-outline
			%input{:autocomplete => "off", :type => "checkbox"}
			= hidden_field_tag :with_lab_capacity, "0"
			= check_box_tag :with_lab_capacity
			= "Open Positions"

	.btn-group.second{"data-toggle" => "buttons"}
		%label.btn.btn-primary.btn-outline.biochem
			%input{:autocomplete => "off", :type => "checkbox"}
			#biochem
				= hidden_field_tag :with_biochemistry, "0"
				= check_box_tag :with_biochemistry
				= "Biochemistry"
		%label.btn.btn-primary.btn-outline.bio
			%input{:autocomplete => "off", :type => "checkbox"}
			#bio
				= hidden_field_tag :with_biology, "0"
				= check_box_tag :with_biology
				= "Biology"
		%label.btn.btn-primary.btn-outline.chem
			%input{:autocomplete => "off", :type => "checkbox"}
			#chem
				= hidden_field_tag :with_chemistry, "0"
				= check_box_tag :with_chemistry
				= "Chemistry"
		%label.btn.btn-primary.btn-outline.ese
			%input{:autocomplete => "off", :type => "checkbox"}
			#ese
				= hidden_field_tag :with_earth_and_space, "0"
				= check_box_tag :with_earth_and_space
				= "Earth and Space Exploration"
		%label.btn.btn-primary.btn-outline.phy
			%input{:autocomplete => "off", :type => "checkbox"}
			#phy
				= hidden_field_tag :with_physics, "0"
				= check_box_tag :with_physics
				= "Physics"
		%label.btn.btn-primary.btn-outline.psy
			%input{:autocomplete => "off", :type => "checkbox"}
			#psy
				= hidden_field_tag :with_psychology, "0"
				= check_box_tag :with_psychology
				= "Psychology"
		%label.btn.btn-primary.btn-outline.sus
			%input{:autocomplete => "off", :type => "checkbox"}
			#sus
				= hidden_field_tag :with_sustainability, "0"
				= check_box_tag :with_sustainability
				= "Sustainability"
	
	

= smart_listing_render(:labs)



