
.main_content
	#lab_top.row
		.col-md-5
			-if @lab.image.exists?
				= image_tag @lab.image.url( :medium, class: "lab-image")
		.col-md-6
			#lab_info
				%h1= @lab.title
				%h3 Principal Investigator: #{@lab.director}
				%h3 User ID: #{@lab.user_id}
				
				%h5 Location: #{@lab.location}
				%h5=link_to @lab.webpage, "#{@lab.webpage}" 
				%h5= link_to @lab.email, "mailto:#{@lab.email}"
				%h5 Lab Capacity: #{@lab.lab_capacity}
				%h5 Current Members: #{@lab.current_count}
				%h5 Expected Time Commitment:  #{@lab.time_commitment} hrs/week 
				%h5 Pre-requistes: #{@lab.req}
				%h5 Suggested Courses to Take: #{@lab.suggested}
				%h5 Year: #{@lab.year}

	.row
		.col-md-12
			#lab_description
				%p= @lab.description
			#projects
				%h2 Active Projects
				- @lab.projects.each do |project|
					%h3= project.title
					%h7= project.description
			#publications
				#lists
					%h2 Publications
					%ol 
						- @lab.publications.each do |publication|
							%li= publication.citation
							%h7= link_to publication.link, "http://#{publication.link}"

	.row

		= link_to "Back", root_path, class: "btn btn-default"

		- if can? :update, @lab
			= link_to "Edit", edit_lab_path, class: "btn btn-default"

		- if can? :destroy, @lab
			= link_to "Delete", lab_path, method: :delete, data: {confirm: "Are you sure you would like to delete your lab?"}, class: "btn btn-default"


