%h1.title= @lab.title

.main_content
	#lab_top.row
		.col-md-4
			#lab_info
				#lab_details
					%h2.subhead-center Details
					%h5 
						%b Principal Investigator: 
						#{@lab.director}
					%h5 
						%b Lab Category: 
						#{@lab.category}
					%h5 
						%b Location: 
						#{@lab.location}
					%h5 
						%b Available Positions: 
						#{@lab.lab_capacity}
					%h5 
						%b Expected Time Commitment:  
						#{@lab.time_commitment} hrs/week 
					%h5 
						%b Pre-requistes: 
						%br
						%br #{@lab.req}
					%h5 
						%b Suggested Courses to Take: 
						%br
						%br #{@lab.suggested}
					%h5 
						%b Year: 
						#{@lab.year}
					%h5=link_to "Lab Webpage", "#{@lab.webpage}" 
					%h5= link_to @lab.email, "mailto:#{@lab.email}"
		.col-md-8
			#lab_description
				%h3.title Description
				%p= @lab.description
			#projects
				%h3.title Active Projects
				- @lab.projects.each do |project|
					%h3.subtitle= project.title
					%p= project.description
			#publications
				#lists
					%h3.title Publications
					%ol 
						- @lab.publications.each do |publication|
							%li.citation= publication.citation
							%h7= link_to publication.link, "http://#{publication.link}"

	.col-md-4	
		.row

		= link_to "Back", root_path, class: "btn btn-default"


		- if can? :update, @lab
			= link_to "Edit", edit_lab_path, class: "btn btn-default"

		- if can? :destroy, @lab
			= link_to "Delete", lab_path, method: :delete, data: {confirm: "Are you sure you would like to delete your lab?"}, class: "btn btn-default"


