%h1.title

	-if @lab.category == "Biology"
		%img.category(src="/assets/biology.jpg")
	-if @lab.category == "Chemistry"
		%img.category(src="/assets/chemistry.jpg")
	-if @lab.category == "Biochemistry"
		%img.category(src="/assets/biochemistry.jpg")
	-if @lab.category == "Physics"
		%img.category(src="/assets/physics.jpg")
	-if @lab.category == "Psychology"
		%img.category(src="/assets/pyschology.jpg")
	-if @lab.category == "Sustainability"
		%img.category(src="/assets/sustainability.jpg")
	-if @lab.category == "Earth and Space exploration"
		%img.category(src="/assets/earth_and_space_exploration.jpg")
	
	=@lab.title

.main_content
	#lab_top.row
		.col-md-4
			#lab_info
				#lab_details
					%h2.subhead-center Details
					%h5 
						%b Principal Investigator: 
						#{@lab.director}
					%h5 
						%b Lab Category: 
						#{@lab.category}
					%h5 
						%b Location: 
						#{@lab.location}
					%h5 
						%b Available Positions: 
						#{@lab.lab_capacity}
					%h5 
						%b Expected Time Commitment:  
						#{@lab.time_commitment} (hrs/week) 
					%h5 
						%b Pre-requistes: 
						%br
						%br #{@lab.req}
					%h5 
						%b Suggested Courses to Take: 
						%br
						%br #{@lab.suggested}
					%h5 
						%b Year: 
						#{@lab.year}
					%h5=link_to "Lab Webpage", "#{@lab.webpage}" 
					%h5= link_to @lab.email, "mailto:#{@lab.email}"
		.col-md-8
			#lab_description
				%h3.title Description
				%p= @lab.description
			#projects
				%h3.title Active Projects
				- @lab.projects.each do |project|
					%h3.subtitle= project.title
					%p= project.description
			#publications
				#lists
					%h3.title Recent Publications
					%ul.publications 
						/Declare Variable
						- year15 = 0
						/Declare Variable
						- year14 = 0
						/Declare Variable
						- year13 = 0

						- @lab.publications.each do |publication|

							- if publication.year == 2015 
								- if year15 < 1 
									%h3 2015
								- year15 += 1
								%li.citation= publication.citation
								%h7= link_to "Publication Link", "http://#{publication.link}" if publication.link?
							- if publication.year == 2014
								- if year14 < 1 
									%h3 2014
								- year14 += 1
								%li.citation= publication.citation
								%h7= link_to "Publication Link", "http://#{publication.link}" if publication.link?
							- if publication.year == 2013
								- if year13 < 1 
									%h3 2013
								- year13 += 1
								%li.citation= publication.citation
								%h7= link_to "Publication Link", "http://#{publication.link}" if publication.link?
	.col-md-4	
		.row

		= link_to "Home", root_path, class: "btn btn-default"


		- if can? :update, @lab
			= link_to "Edit", edit_lab_path, class: "btn btn-default"

		- if can? :destroy, @lab
			= link_to "Delete", lab_path, method: :delete, data: {confirm: "Are you sure you would like to delete your lab?"}, class: "btn btn-default"


